# Kassa Jeugdhuis Den Couter

In [1]:
filename = '../input/kassa210907/EJFILE.SDA'


import pandas as pd
df = pd.read_csv(filename, delimiter = "\r", header=None, names=['lines'])
df.head(10)

                            lines
0  #000040   15/07/2021   22:51
1  01 CLERK01              000000
2            * S D*
3   S V   F   O N L   E J
4  SD FINAL
5  #000041   15/07/2021   22:52
6  01 CLERK01              000000
7  1x 2.00                *2.00
8  Carlsberg
9  Carlsberg             V-2.00

## print datumlijnen

In [2]:
count = 0
limit = 5

for index, row in df.iterrows():
    
    if (row['lines'][0] == '#') & (count<limit):
        count = count + 1
        print(row['lines'])

#000040   15/07/2021   22:51
#000041   15/07/2021   22:52
#000042   16/07/2021   14:32
#000043   16/07/2021   14:36
#000044   16/07/2021   14:36

## print cashlijnen

In [3]:
from decimal import Decimal

count = 0
limit = 5

for index, row in df.iterrows():
    
    if ('CASH' in row['lines']) & (count<limit):
        count = count + 1
        amount = row['lines'].strip('CASH *').replace(' ','')
        amount = Decimal(amount)
        print(amount)

0.00
4.00
4.00
3.00
6.50

## print per blok

In [4]:
def start_block (row):
    if row['lines'][0] == '#' :
        return True
    return False

In [5]:
df['start_block'] = df.apply (lambda row: start_block(row), axis=1)
df['block_nr'] = df['start_block'].cumsum()
df.head(50)

                             lines  start_block  block_nr
0   #000040   15/07/2021   22:51           True         1
1   01 CLERK01              000000        False         1
2             * S D*                      False         1
3    S V   F   O N L   E J                False         1
4   SD FINAL                              False         1
5   #000041   15/07/2021   22:52           True         2
6   01 CLERK01              000000        False         2
7   1x 2.00                *2.00          False         2
8   Carlsberg                             False         2
9   Carlsberg             V-2.00          False         2
10   CASH              * 0 . 0 0          False         2
11  #000042   16/07/2021   14:32           True         3
12  01 CLERK01              000000        False         3
13  NO SALE                               False         3
14  #000043   16/07/2021   14:36           True         4
15  01 CLERK01              000000        False         4
16  NO SALE                               False         4
17  #000044   16/07/2021   14:36           True         5
18  01 CLERK01              000000        False         5
19  1x                                    False         5
20    EVY <3                              False         5
21  1x 2.00                *2.00          False         5
22  Export                                False         5
23  1x 2.00                *2.00          False         5
24  Export                                False         5
25   CASH              * 4 . 0 0          False         5
26  #000045   16/07/2021   16:42           True         6
27  01 CLERK01              000000        False         6
28  1x 2.00                *2.00          False         6
29  Export                                False         6
30  1x 2.00                *2.00          False         6
31  Export                                False         6
32   CASH              * 4 . 0 0          False         6
33  #000046   16/07/2021   16:50           True         7
34  01 CLERK01              000000        False         7
35  1x 1.50                *1.50          False         7
36  Primus                                False         7
37  1x 1.50                *1.50          False         7
38  Primus                                False         7
39   CASH              * 3 . 0 0          False         7
40  #000047   16/07/2021   17:23           True         8
41  01 CLERK01              000000        False         8
42  1x 1.50                *1.50          False         8
43  Primus                                False         8
44  1x 1.50                *1.50          False         8
45  Primus                                False         8
46  1x 2.00                *2.00          False         8
47  Export                                False         8
48  1x 1.50                *1.50          False         8
49  Cola                                  False         8

In [6]:

import datetime
from decimal import Decimal

MAX = df['block_nr'].max()

result_df = pd.DataFrame(columns=('id', 'datetime', 'amount'))
drinks_df = pd.DataFrame(columns=('id', 'drink', 'quantity','price'))

for i in range(1,MAX+1):
    block_df = df[df['block_nr'] == i]
    
    # check if it is a CASH block
    if 'CASH' in block_df.iloc[-1]['lines']:
        
        # get ID
        transaction_id = block_df.iloc[0]['lines']
        transaction_id = int(transaction_id[1:7])
        #print(transaction_id)
        
        # get date & time    
        dateAndtime = block_df.iloc[0]['lines'].split()
        date = dateAndtime[1]
        time = dateAndtime[2]
        date_time_str = date+' '+time
        date_time_obj = datetime.datetime.strptime(date_time_str, '%d/%m/%Y %H:%M')
        #print(date_time_obj)
        #print(date_time_obj.date())
        
        # get cash amount
        amount = block_df.iloc[-1]['lines'].strip('CASH *').replace(' ','')
        amount = Decimal(amount)
        #print(amount)
        
        # add to result_df
        result_df = result_df.append({'id':transaction_id, 'datetime':date_time_obj, 'amount': amount}, ignore_index=True)
        
        # --------------------------------
        
        block_iterator = block_df.iterrows()
        for index, row in block_iterator:
            if ('*' in row['lines']) & ('CASH' not in row['lines']):
                index2, row2 = next(block_iterator)
                
                # get quantity
                quantity = int(row['lines'].split('x')[0])
                #print(quantity)
                
                # get price
                price = Decimal(row['lines'].split('*')[-1])
                #print(price)
                
                # get drink name
                drink = row2['lines']
                #print(drink)

                drinks_df = drinks_df.append({'id':transaction_id, 'drink':drink, 'quantity': quantity, 'price': price}, ignore_index=True)

In [7]:
drinks_df.head()

   id                           drink quantity price
0  41  Carlsberg                             1  2.00
1  44  Export                                1  2.00
2  44  Export                                1  2.00
3  45  Export                                1  2.00
4  45  Export                                1  2.00

In [13]:
result_df

       id            datetime amount
0      41 2021-07-15 22:52:00   0.00
1      44 2021-07-16 14:36:00   4.00
2      45 2021-07-16 16:42:00   4.00
3      46 2021-07-16 16:50:00   3.00
4      47 2021-07-16 17:23:00   6.50
..    ...                 ...    ...
886  1386 2021-09-05 03:58:00   0.50
887  1387 2021-09-05 04:04:00   0.50
888  1388 2021-09-05 04:08:00   3.50
889  1389 2021-09-05 04:09:00   1.50
890  1390 2021-09-05 04:24:00  15.00

[891 rows x 3 columns]

# Omzet per dag

In [9]:

per_day_df = result_df.groupby(pd.to_datetime(result_df.datetime).dt.date).agg({'amount': 'sum'}).reset_index() 

per_day_df

      datetime   amount
0   2021-07-15     0.00
1   2021-07-16    50.00
2   2021-07-17    21.50
3   2021-07-18     6.00
4   2021-07-23   104.50
5   2021-07-24   178.50
6   2021-07-25    52.00
7   2021-07-30   583.00
8   2021-07-31   130.00
9   2021-08-07    15.00
10  2021-08-08    63.50
11  2021-08-24     1.50
12  2021-08-28  1274.50
13  2021-08-29   152.00
14  2021-09-01     5.00
15  2021-09-02   242.50
16  2021-09-03  1507.50
17  2021-09-04   621.50
18  2021-09-05   221.00

In [14]:
drink_names = drinks_df['drink'].unique()
drink_quantities = pd.DataFrame(data=drink_names, columns=['drink'])
drink_quantities['quantity'] = 0

drink_quantities.head(5)

                            drink  quantity
0  Carlsberg                              0
1  Export                                 0
2  Primus                                 0
3  Cola                                   0
4  ros� wijn                              0

In [16]:
quantities_per_drink = drinks_df.groupby(drinks_df['drink']).agg({'quantity': 'sum'}).reset_index() 
quantities_per_drink.head(5)

                            drink  quantity
0   nutjes                               18
1  BVDM                                  81
2  BVDM 3 + 1                             4
3  BVHS                                  29
4  Bellini                               48

In [17]:
quantities_per_drink['percent'] = ((quantities_per_drink['quantity']/uwu['quantity'].sum()).round(3)*100)
quantities_per_drink.sort_values('quantity', ascending=False)

                             drink  quantity  percent
18  Primus                               939     38.1
6   Carlsberg                            223      9.1
8   Cola                                 140      5.7
19  Rodenbach                            121      4.9
5   Bernadette                           101      4.1
15  Kasteel Rouge                         99      4.0
10  Duvel                                 81      3.3
1   BVDM                                  81      3.3
13  Fuzetea                               64      2.6
22  Strongbow                             63      2.6
23  Tripel Plukker                        49      2.0
4   Bellini                               48      1.9
16  Kriek                                 46      1.9
11  Export                                43      1.7
12  Fanta                                 31      1.3
33  plat water                            31      1.3
3   BVHS                                  29      1.2
38  witte wijn                            27      1.1
35  spuitwater                            27      1.1
34  ros� wijn                             22      0.9
37  witte Hommelbier                      21      0.9
0    nutjes                               18      0.7
24  droge worst                           17      0.7
21  Sprite                                15      0.6
27  meter 15 EUR                          14      0.6
30  meter �15                             14      0.6
9   Cola zero                             13      0.5
29  meter 30 EUR                          12      0.5
39  zout chips                            12      0.5
32  paprika chips                         11      0.4
7   Chimay bleu                           10      0.4
17  Minutemaid                             8      0.3
14  Hommelbier                             7      0.3
36  warme chocomelk                        7      0.3
20  Royco soep                             4      0.2
2   BVDM 3 + 1                             4      0.2
25  fles Bellini                           3      0.1
40  �2,5 actie                             3      0.1
26  halve liter                            2      0.1
31  meter �20                              1      0.0
28  meter 20 EUR                           1      0.0

#